:root {
  font-family: arial, sans-serif;
  color: #242424;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
header {
  display: flex;
  justify-content: space-around;
  height: 35vh;
  background-color: #459dad;
}
.title-group {
  display: flex;
  margin: 10px 100px 50px 0;
}
h1 {
  margin: 0;
  font-size: 20px;
}
.search-container {
  align-self: center;
  display: flex;
  width: 300px;
  height: 35px;
}
input {
  width: 65%;
  height: 100%;
  border-radius: 8px 0 0 8px;
  padding-left: 10px;
  border-style: hidden;
  font-size: 1rem;
}
.search-btn {
  width: 20%;
  height: 100%;
  border-radius: 0 8px 8px 0;
  border-style: hidden;
  color: #e4e7eb;
  background-color: #467778;
  font-weight: 700;
  cursor: pointer;
}
.search-btn:hover {
  color: orange;
}
main {
  height: 65vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  width: 400px;
  height: 300px;
}
.card * {
  font-size: 30px;
}
.main-weather {
  font-size: 40px;
  text-align: center;
  height: 50px;
  margin: 20px 0 30px 0;
}
.location {
  text-align: center;
  height: 50px;
  margin-top: 20px;
}
.temperature {
  text-align: center;
  height: 50px;
  margin-top: 10px;
}
.description {
  text-align: center;
  height: 50px;
  margin-top: 10px;
}
.unit {
  border-radius: 50%;
  border-style: hidden;
  background-color: #d78998;
  padding: 0.75rem 1rem;
  font-weight: 700;
  font-size: 1.5rem;
  color: #e8e5e5;
  cursor: pointer;
}
.unit:hover {
  background-color: #b56776;
}
